
// Main slider custom
.slide-2-custom {
  margin-top: -15px;
  width: 200px;
  p {
  	font-size: 12px;
    margin: 0;
    text-transform: lowercase;
    :first-of-type {
  	  border-bottom: solid 2px;
  	  display: block;
    }
    span:last-of-type {
    	text-transform: capitalize;
    	border: none;
    	display: inline;
    }
  }
}
  


@media only screen and (min-width : 480px) {
  .slide-2-custom {
    margin-top: -35px;
    width: initial;
    p {
   	  font-size: 18px;
    }
  }
}

@media only screen and (min-width : 768px) {
	.slide-2-custom {
		padding: 0 24%;
		margin-top: -151px;
	}
}





.testimonial p{
  margin: 0;
}

.custom-link {
  margin-top: 40px;
  h5 {
  	margin-bottom: 25px;
  }
}

.img-gallery{
	width: 100%;
}

.custom-services {
	h4 {
		text-transform: uppercase;
		color: #990A2D;
		font-size: 20px;
	}
	div {
		padding: 0 30px;
	}
	img {
		width: 100%;
		height: auto;
	}

}


.infra-container {
	h4 {
		font-size: 19px;
		padding: 50px 150px;
	}
	span {
		font-size: 12px;
	}
	p {
		font-weight: bolder;
		padding: 10px 0;
	}
}



.master-container {
	h2 {
		color: white;
	}
}



.contact-position {
  padding-top: 55px;
  margin: 0 !important;
}


.contact-container {
  background-image: url(/images/bg-slider-1.jpg); 
  height: 700px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h2 {
  	color: white;
  }
}


.contact {
	input {
    color: black;
    border: none;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 44px;
    -moz-border-radius: 9px;
    outline: none;
    float: left;
    margin-bottom: 10px;
    width: 100%;
	}
}

input:focus {
	background-color: rgba(255, 255, 255, 0.4);
}
textarea:focus {
	background-color: rgba(255, 255, 255, 0.4);
}
textarea {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 9px;
  -moz-border-radius: 9px;
  height: 210px;
  width: 100%;
  padding: 5px;
  outline: none;
  resize: none;
  margin-top: 0;
}



::-webkit-input-placeholder {font-weight: bolder;  font-family: 'Raleway', sans-serif; opacity: 1 !important; color: black; text-transform: uppercase; padding-left: 5px;}
::-moz-placeholder {font-weight: bolder;  font-family: 'Raleway', sans-serif; opacity: 1 !important; color: black; text-transform: uppercase; padding-left: 5px;}
:-ms-input-placeholder {font-weight: bolder;  font-family: 'Raleway', sans-serif; opacity: 1 !important; color: black; text-transform: uppercase; padding-left: 5px;}
input:-moz-placeholder {font-weight: bolder;  font-family: 'Raleway', sans-serif; opacity: 1 !important; color: black; text-transform: uppercase; padding-left: 5px;}



#bt-send {
  background-color: rgba(255,255,255,.9);
  border-radius: 9px;
  -moz-border-radius: 9px;
  border: none;
  color: black;
  font-weight: bold;
  height: 40px;
  text-transform: uppercase;
  width: 110px;
  float: right;
  margin-top: 1em;
}

#bt-send:hover {
  background-color: rgba(255,255,255,.4);
}


@media screen and (min-width: 768px){
  .contact-position {
    padding-top: 215px;
  }
}






.location-container {
	p {
		font-size: 18px;
		font-family: 'Raleway', sans-serif;
	}
	ul {
		padding: 0;
    font-size: 20px;
    text-transform: capitalize;
	}
	li {
		padding: 10px;
	}
	h3 {
		font-weight: bolder;
		font-size: 20px;
		text-transform: capitalize;
	}
	.col-xs-3 {
    width: 21%;
  }
  .custom-location{
  	img {
  		padding-top: 10px;
  	}
  	p {
  		padding: 15px;
  	}
  }
  .row {
  	margin: 0 auto;
  }
}




.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100% !important;
  	height: 100% !important;
  }
}

.map-custom {
	color: white;
	p {
		margin: 0;
	}
	ul {
		margin-top: 8px;
	}
	li {
		padding: 9px 0px;
    border-bottom: solid white 2px;
    font-size: 16px;
	}
	span {
		float: right;
	}
}