$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// import  vendor css
@import "../app/styles/hero-slider.scss";

.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

li {
	list-style: none;
}

h2 {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 20px;
}

h4 {
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
}

.hero h1 {
	margin-top: -10%;
  font-size: 34px;
  padding: 0 250px;
}
    
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
footer {
  border-top: 1px solid #e5e5e5;
  color: #777;
  padding-top: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


// import nav styles
@import "../app/styles/nav.scss";

// import header styles
@import "../app/styles/header.scss";

// import header styles
@import "../app/styles/footer.scss";



// import modules styles
@import "../app/styles/modules.scss";

// import header styles
@import "../app/styles/custom.scss";
