$bg-fullWidth: #DFDFDF;
$bg-customBlue: #182125;
$white: white;
.container {
  font-family: 'Raleway', sans-serif;
  p {
    font-size: 17px;
  }
}

.full-width-blue {
	background-color: $bg-customBlue;
	padding: 30px 0;
}

.full-width {
  background-color: $bg-fullWidth;
  padding: 30px 0;
}

.center {
  text-align: center;
}

.container-full img {
	margin-top: 20px;
}

@media screen and (min-width: 768px){
  .container-full {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 35px;
  }


}

.container-divition {
  padding: 35px 0;
}

.full-width-images {
	max-width: 900px;
	margin: 0 auto;
}





.toggleColor {
  background-color: black;
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}


.white {
	color: $white;
}




.title-modal {
  font-size: 35px !important;
  margin: 0;
}
.title-section {
	font-size: 30px !important;
  margin: 0;
}
@media only screen and (min-width : 480px) {  
  .title-modal {
   	font-size: 51px !important;
  }
  .title-section {
  	font-size: 35px !important;
  }
}
