<div class="contact-container">
  <div class="contact-position row">
    <h2 class="center">let's make business together</h2>
    <form id="myForm" action="send_contact.php" method="post"> 
    <div class="col-xs-3 col-sm-2 col-md-3"></div>
    <div class="col-xs-12 col-sm-4 col-md-3 contact">
      <div class="center-form">
      	<input type="text" name="name" placeholder="name:" maxlength="20" onfocus="this.placeholder = ''" onblur="this.placeholder = 'name:'">
        <input type="text" name="company" placeholder="company:" onfocus="this.placeholder = ''" onblur="this.placeholder = 'company:'">
        <input type="email" name="email" placeholder="email:" onfocus="this.placeholder = ''" onblur="this.placeholder = 'email:'">
        <input type="tel" name="phone" placeholder="phone:" maxlength="10" onfocus="this.placeholder = ''" onblur="this.placeholder = 'phone:'">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <textarea name="cita" id="" cols="30" rows="10"  placeholder="message:" onfocus="this.placeholder = ''" onblur="this.placeholder = 'message:'"></textarea>
    </div>
  </div>
  <div class="">
    <div class="col-xs-4 col-sm-5 col-md-5"></div>
    <div class="col-xs-12 col-sm-2 col-md-2">
      <div class="center-button">
    	  <input type="submit" id="bt-send" value="send">
      </div>
    </div>
  </div>
    </form>
</div>




