<div class="jumbotron">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="carousel-inner">
      <div class="item slides active slides-infraestructure">
        <div class="slide-1 slides-size"></div>
        <div class="hero">
          <h1>top quality infrastructure</h1>
        </div>
      </div>
    </div> 
  </div>
</div>


<div class="infra-container">
  <div class="row marketing center ">
    <h4>Alianza Industrial Park is equipped with top quality infraestructure to allow the establishment of projects with major requirements</h4>
  </div>
	<div class="row marketing center container-full">
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-1.png" alt="" width="60" height="60">
    	<p>Electric Energy Substation 30,000 KVA'S</p>
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-2.png" alt="" width="60" height="60">
    	<p>Nature Gas Pipeline 8"</p>
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-3.png" alt="" width="60" height="60">
    	<p>Private Wells Water Supply</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-4.png" alt="" width="60" height="60">
    	<p>Sanitary Water Treatment Plan 6 Lps</p>   
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-5.png" alt="" width="60" height="60">
    	<p>High Tech Telecommunications Site <span>(Telmex Optical Fiber)</span></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-6.png" alt="" width="60" height="60">
    	<p>Fireman Station</p>
    </div>	
  </div>
  <div class="row marketing center container-full">
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-7.png" alt="" width="60" height="60">
    	<p>Safety Guard Service 24/7</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-8.png" alt="" width="60" height="60">
    	<p>Wide Internal Avenues (80 mts)</p>
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-9.png" alt="" width="60" height="60">
    	<p>Technology University</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-10.png" alt="" width="60" height="60">
    	<p>Business Class Hotel</p>   
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-11.png" alt="" width="60" height="60">
    	<p>Landscaping <span>(According to the region)</span></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/infra-icon-12.png" alt="" width="60" height="60">
    	<p>Police Station</p>
    </div>	
  </div>



</div> <!--  infra container  -->

