<div class="jumbotron">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="carousel-inner">
      <div class="item slides active slides-location">
        <div class="slide-1 slides-size"></div>
        <div class="hero">
          <h1 class="title-section">alianza industrial park is located in derramadero Saltillo's industrial zone</h1>
        </div>
      </div>
    </div> 
  </div>
</div>


<div class="location-container">
	<div class="row marketing full-width center">
    <h2>location</h2>
    <div class="col-md-3"></div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <p>Alianza Industrial Park is located at Derramadero Saltillo's Industrial zone</p>
      <p>Our location allows great access to borders, Mexican ports, international airports and main OFMs through NAFTA Highway.</p>
    </div> 	
    <div class="col-md-1"></div>
  </div>
  <div class="container center">
	  <div class="marketing">
      <h2>about us</h2>
		  <p>Derramadero is an Industrial Zone located in the North Mexico Industrial Corridor (Derramadero, Saltillo, Ramos Arizpe, Monterrey).</p>
		  <p>This development hosts more than 52 companies with strong activity of prestige automotive industry like:</p>
		  <ul>
		  	<li><strong>Daimler heavy truck assembly plant</strong></li>
		  	<li><strong>Chrysler v6 motor engine plant</strong></li>
		  	<li><strong>Chrysler ram pick up assembly plant</strong></li>
		  	<li><strong>fiat ducato assembly plant</strong></li>
		  </ul>
	  </div>
 </div>
  <div class="row marketing center container-full">
    <h2>gallery</h2>
    <div class="col-xs-3 hidden-sm hidden-md hidden-lg"></div>
    <div class="col-xs-7 col-sm-4 col-md-4">
      <img class='img-gallery' draggable="false" src='images/car-1.jpg' alt="Alianza Industrial Park vehicles"/>
      <h3>Chrysler ram pick up</h3>
    </div>
    <div class="col-xs-3 hidden-sm hidden-md hidden-lg"></div>
    <div class="col-xs-7 col-sm-4 col-md-4">
      <img class='img-gallery' draggable="false" src='images/car-2.jpg' alt="Alianza Industrial Park vehicles"/>
      <h3>fiat ducato</h3>
    </div>
    <div class="col-xs-3 hidden-sm hidden-md hidden-lg"></div>
    <div class="col-xs-7 col-sm-4 col-md-4">
      <img class='img-gallery' draggable="false" src='images/car-3.jpg' alt="Alianza Industrial Park vehicles"/>
      <h3>freightliner cascadia truck</h3>
    </div>
  </div>
  







  <div class="row marketing full-width center custom-location">
    <h2>location advantages</h2>
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/location-icon-1.png" width="120" height="130" alt="Alianza Industrial Park location icon">
      <p>Easy access to northern Mexican automotive corridor.</p>
    </div> 	
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/location-icon-2.png" width="120" height="130" alt="Alianza Industrial Park location icon">
      <p>Easy access to U.S.A border, mexican ports, main highways & international airports.</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/location-icon-3.png" width="120" height="130" alt="Alianza Industrial Park location icon">
      <p>Easy access to gas shale Burgos Basin.</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/location-icon-4.png" width="120" height="130" alt="Alianza Industrial Park location icon">
      <p>Highly Skilled Qualified Labor near the zone.</p>
    </div>
  </div>
  
  <div class="row full-width-blue map-custom">
    <h2 class="center">location map</h2>
    <div class="col-xs-12 hidden-sm col-md-1"></div>
	  <div class="col-xs-12 col-sm-12 col-md-7">
	    <div class="google-maps">
	  	  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1801.3425162921153!2d-100.99547741894536!3d25.448791618875102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1449079461375" width="700" height="550" frameborder="0" style="border:0" allowfullscreen=""></iframe>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-3">
	    <h2>distance</h2>
	    <p><strong>México</strong></p>
	    <p><strong>Coahuil</strong></p>
	    <p><strong>Saltillo</strong></p>
	    <p>Derramadero</p>
	    <p>Alianza Derramadero</p>
	    <p>Industrial Park</p>
	    <ul>
	    	<li>Laredo, TX<span>330 km</span></li>
	    	<li>Monterrey<span>120 km</span></li>
	    	<li>Saltillo<span>35 km</span></li>
	    	<li>San Luis Potosi<span>430 km</span></li>
	    	<li>Queretaro<span>836 km</span></li>
	    	<li>Celaya<span>680 km</span></li>
	    	<li>Aguascalientes<span>470 km</span></li>
	    </ul>
	  </div>
  </div>










</div> <!-- location container -->