<div class="jumbotron">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="carousel-inner">
      <div class="item slides active slides-location">
        <div class="slide-1 slides-size"></div>
        <div class="hero">
          <h1 class="title-section">derramadero<br><span style="font-weight: lighter">saltillo's industrial zone</span></h1>
        </div>
      </div>
    </div> 
  </div>
</div>


<div class="location-container">
	<div class="row marketing full-width center">
    <h2>location</h2>
    <div class="col-md-3"></div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <p>Prime location in northern Mexico with easy access to main borders, Mexican ports, international airports and OEMS through NAFTA corridor.</p>
    </div> 	
    <div class="col-md-1"></div>
  </div>
  <div class="container center">
	  <div class="marketing">
		  <p><strong>Derramadero - Saltillo - Ramos Arizpe - Monterrey</strong></p>
		  <img class="corridors" src="images/location-corridors.jpg" alt="International Corridors">
		  <p style="margin-top: 25px"><strong>Derramadero Valley hosts more than 52 companies with strong activity in the automotive industry.</strong></p>
	  </div>
 </div>
  <div class="row marketing center container-full">
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/car-1.jpg" alt="Alianza Industrial Park location icon">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/car-2.jpg" alt="Alianza Industrial Park location icon">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/car-3.jpg" alt="Alianza Industrial Park location icon">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/car-4.jpg" alt="Alianza Industrial Park location icon">
    </div>
  </div>
  







  <div class="row marketing full-width center custom-location">
    <h2>location advantages</h2>
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/location-icon-1.png" alt="Alianza Industrial Park location icon">
      <p>Northern Mexican automotive corridor.</p>
    </div> 	
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/location-icon-2.png" alt="Alianza Industrial Park location icon">
      <p>U.S.A borders, Mexican ports, main highways & international airports.</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/location-icon-3.png" alt="Alianza Industrial Park location icon">
      <p>Burgos Basin <br>gas shale.</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
    	<img draggable="false" src="images/location-icon-4.png"  alt="Alianza Industrial Park location icon">
      <p>Qualified Workforce.</p>
    </div>
  </div>
  
  <div class="row full-width-blue map-custom">
    <h2 class="center">location map</h2>
    <div class="col-xs-12 hidden-sm col-md-1"></div>
	  <div class="col-xs-12 col-sm-12 col-md-7">
	    <div class="google-maps">
	  	  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7217.968165091058!2d-101.17931847334549!3d25.23746109028054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8687d7e2a1d5ae5d%3A0xebb0fa885c847bbf!2sParque+Industrial+Alianza+Derramadero%2C+Coah.!5e0!3m2!1ses-419!2smx!4v1453886625582" width="700" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-3">
	    <img src="images/location-map-icon-1.png" alt="">
	    <img src="images/location-map-icon-2.png" alt="">
	    <h2>distance</h2>
	    <p><strong>Saltillo, Coahuila, Mexico</strong></p>
	    <p>Derramadero</p>
	    <p>Alianza Derramadero</p>
	    <p>Industrial Park</p>
	    <ul>
	    	<li>Laredo, TX<span>205 Miles / 330 km</span></li>
	    	<li>Monterrey<span>74 Miles / 120 km</span></li>
	    	<li>Saltillo<span>21 Miles / 35 km</span></li>
	    	<li>San Luis Potosi<span>267 Miles / 430 km</span></li>
	    	<li>Queretaro<span>519 Miles / 836 km</span></li>
	    	<li>Celaya<span>422 Miles / 680 km</span></li>
	    	<li>Aguascalientes<span>292 Miles / 470 km</span></li>
	    </ul>
	  </div>
  </div>










</div> <!-- location container -->