<div class="jumbotron">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="carousel-inner">
      <div class="item slides active slides-main">
        <div class="slide-1 slides-size"></div>
        <div class="hero">
          <hgroup>
            <img draggable="false" src="images/header-logo.png" alt="">
          </hgroup>
        </div>
      </div>
      <div class="item slides slides-main">
        <div class="slide-2 slides-size"></div>
        <div class="hero">        
          <hgroup>
              <h1>We are smart</h1>        
              <h3>Get start your next awesome project</h3>
          </hgroup>       
          <button class="btn btn-hero btn-lg" role="button">See all features</button>
        </div>
      </div>
      <div class="item slides slides-main">
        <div class="slide-3 slides-size"></div>
        <div class="hero">        
          <hgroup>
              <h1>We are amazing</h1>        
              <h3>Get start your next awesome project</h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button">See all features</button>
        </div>
      </div>
    </div> 
  </div>
</div>
<div class="main-container">
  <div class="container center">
	  <div class="row marketing">
      <h2>about us</h2>
		  <p>Alianza Industrial Park is located at Derramadero Saltillo's Industrial Zone</p>
		  <p>Our company is committed to the development of Industrial Parks, design, construction sale or rent of industrial lots and buildings.</p>
		  <p>Alianza has built 1,000,000 ft2 of AAA industrial facilities.</p>
		  <p>Our main goal is to exceed our client's satisfaction through high quality standards, on time deliveries, competitive pricing and an open and reliable long term relationship.</p>
		  <p>Alianza is developing two industrial parks:</p>
		  <p>Alianza North Park (110 ha.) and Alianza South Park (100 ha.), and has more than 2,000 ha. for future growth of industrial, housing and commercial developments.</p>
	  </div>
  </div>	





  <div class="row marketing full-width center">
    <h2>our park</h2>
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/home-icon-1.png" alt="">
      <h4>+1,0000,000 ft2 of AAA Industrial Facilities</h4>
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/home-icon-2.png" alt="">
      <h4>Top Quality Infrastructure</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/home-icon-3.png" alt="">
      <h4>Guaranteed Expansion Area</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/home-icon-4.png" alt="">
      <h4>Of Alianza land reserve</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/home-icon-5.png" alt="">
      <h4>Easy access to main OEMs</h4>
    </div>
    <div class="col-md-1"></div>
  </div>





  <div class="row marketing img-slider center container-full">
    <h2>gallery</h2>
    <div class="col-md-4">
      <img class='img-gallery' draggable="false" src='' alt="Alianza Saltillo Gallery"/>
    </div>
    <div class="col-md-4">
      <img class='img-gallery' draggable="false" src='' alt="Alianza Saltillo Gallery"/>
    </div>
    <div class="col-md-4">
      <img class='img-gallery' draggable="false" src='' alt="Alianza Saltillo Gallery"/>
    </div>
  </div>





  <div class="row marketing full-width testimonial">
    <div class="container">
    	<h2 class="center">testimonial</h2>
      <p>"Commercial Vehicle Group's at Saltillo has been a very rewarding experience, we have developed new business opportunities and with the highly skilled and very productive workforce our operations here have achieved the highest productivity levels in our global network. We greatly value our partnership with Alianza and the Saltillo community."</p>
      <p><strong>Jerry Armstrong</strong></p>
	    <p><strong><em>President & General Manager CAB System</em></strong></p>
	    <p><strong><em>Commercial Vehicle Group</em></strong></p>
    </div>
  </div>


  <div class="row marketing center container-full">
    <h2>clients</h2>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-1.jpg" alt="" width="100" height="75">
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-2.jpg" alt="" width="100" height="75">
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-3.jpg" alt="" width="100" height="75">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-4.jpg" alt="" width="100" height="75">   
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-5.jpg" alt="" width="100" height="75">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-6.jpg" alt="" width="100" height="75">
    </div>	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-7.jpg" alt="" width="100" height="75">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-8.jpg" alt="" width="100" height="75">
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-9.jpg" alt="" width="100" height="75">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-10.jpg" alt="" width="100" height="75">   
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-11.jpg" alt="" width="100" height="75">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-12.jpg" alt="" width="100" height="75">
    </div>	
  </div>




</div><!-- custom container class -->
