<!-- <section class="cd-hero jumbotron">
		<ul style="padding: 0;" class="cd-hero-slider autoplay">
			<li class="selected">
				<div class="cd-full-width">
					
					<img src="images/header-logo.png" alt="">
				</div> .cd-full-width
			</li>
			
			<li>
				<div class="cd-full-width">
					<h2>+2000 ha.</h2>
					<p>Alianza land reserve</p>
				</div> <!.cd-full-width
			</li>



		</ul> <! .cd-hero-slider
	</section> <!.cd-hero -->




<div class="jumbotron" id="slider-init">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="carousel-inner">
      <div class="item slides active slides-main">
        <div class="slide-1 slides-size"></div>
        <div class="hero">
          <hgroup>
            <img draggable="false" src="images/header-logo.png" alt="Alianza Industrial Park logo">
          </hgroup>
        </div>
      </div>
      <div class="item slides slides-main">
        <div class="slide-2 slides-size"></div>
        <div class="hero">  
          <div class="slide-2-custom">
          	<h2 class="title-modal" style="text-transform: lowercase">+2,000 ha.</h2>
            <p style="font-size: 25px !important;"><span>a</span>lianza land reserve</p>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
<div class="main-container">
  <div class="container center">
	  <div class="row marketing">
      <h2>about us</h2>
		  <p class="custom-margin">We are committed to the development of industrial facilities offering design, construction, sale or rent of industrial lots and buildings.</p>
		  <p>With more than 1,000,000 ft2 of AAA construction developed our main goal is to exceed our client's satisfaction through <strong>high quality standards on time deliveries, competitive pricing and an open and reliable long-term relationship.</strong></p>


	  </div>
  </div>	





  <div class="row marketing full-width center">
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/home-icon-1.png" alt="Alianza Industrial Park main icons">
      <h4>+1,0000,000 ft2 of AAA Industrial Facilities</h4>
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/home-icon-2.png" alt="Alianza Industrial Park main icons">
      <h4>Top Quality Infrastructure</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/home-icon-3.png" alt="Alianza Industrial Park main icons">
      <h4>Guaranteed Expansion Area</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/home-icon-4.png" alt="Alianza Industrial Park main icons">
      <h4>Alianza land reserve</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/home-icon-5.png" alt="Alianza Industrial Park main icons">
      <h4>Easy access to main OEMs</h4>
    </div>
    <div class="col-md-1"></div>
  </div>





  <div class="row marketing img-slider center container-full">
    <h2>gallery</h2>
    <div class="col-sm-12 col-md-4">
      <img class='img-gallery' draggable="false" src='' alt="Alianza Industrial Park Gallery"/>
    </div>
    <div class="col-sm-12 col-md-4">
      <img class='img-gallery' draggable="false" src='' alt="Alianza Industrial Park Gallery"/>
    </div>
    <div class="col-sm-12 col-md-4">
      <img class='img-gallery' draggable="false" src='' alt="Alianza Industrial Park Gallery"/>
    </div>
  </div>





  <div class="row marketing full-width testimonial">
    <div class="container">
    	<h2 class="center">testimonial</h2>
      <p>"Commercial Vehicle Group at Saltillo has been a very rewarding experience, we have developed new business opportunities and with the highly skilled and very productive workforce our operations here have achieved the highest productivity levels in our global network. We greatly value our partnership with Alianza and the Saltillo community."</p>
      <p><strong>Jerry Armstrong</strong></p>
	    <p><strong><em>President & General Manager CAB System</em></strong></p>
	    <p><strong><em>Commercial Vehicle Group</em></strong></p>
    </div>
  </div>


  <div class="row marketing center container-full">
    <h2>clients</h2>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-5.jpg" alt="Alianza Industrial Park clients">
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-2.jpg" alt="Alianza Industrial Park clients">
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-3.jpg" alt="Alianza Industrial Park clients">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-4.jpg" alt="Alianza Industrial Park clients">   
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-1.jpg" alt="Alianza Industrial Park clients">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-6.jpg" alt="Alianza Industrial Park clients">
    </div>	
  </div>
  <div class="row marketing center container-full">
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-7.jpg" alt="Alianza Industrial Park clients">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-11.jpg" alt="Alianza Industrial Park clients">
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-9.jpg" alt="Alianza Industrial Park clients">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-10.jpg" alt="Alianza Industrial Park clients">   
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/client-8.jpg" alt="Alianza Industrial Park clients">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="" alt="Cliente que falta">
    </div>	
  </div>
</div>



</div><!-- custom container class -->

	   