<div class="jumbotron">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="carousel-inner">
      <div class="item slides active slides-master">
        <div class="slide-1 slides-size"></div>
        <div class="hero">
          <h1 class="title-section">Available buildings/lots</h1>
        </div>
      </div>
    </div> 
  </div>
</div>
<div class="master-container">
  <div id="south" class="full-width-blue testimonial">
    <div class="container">
    	<h2  class="center">alianza south park master plan (100 ha.)</h2>
    </div>
  </div>
  <div class="row marketing center full-width-images">
    <div  class="col-xs-12 col-sm-12 col-md-12 custom-services marketing">
      <img  src="images/south-master.jpg" alt="Alianza Industrial South Park">
    </div>
  </div>
	<div id="north"class="full-width-blue testimonial">
    <div class="container">
    	<h2  class="center">alianza north park master plan (110 ha.)</h2>
    </div>
  </div>
  <div class="row marketing center full-width-images">
    <div  class="col-xs-12 col-sm-12 col-md-12 custom-services marketing">
      <img src="images/north-master.jpg" alt="Alianza Industrial North Park">
    </div>
  </div>
</div>
