
<div class="jumbotron">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="carousel-inner">
      <div class="item slides active slides-services">
        <div class="slide-1 slides-size"></div>
        <div class="hero">
          <h1 class="title-section">facilities with the highest standards</h1>
        </div>
      </div>
    </div> 
  </div>
</div>










<div class="services-container">
	<div class="row marketing center custom-services container-full container-divition">
    <h2>services</h2>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h4>industrial lots for lease or sale</h4>
      <p>More than 2,000 ha. for housing, industrial and commercial developments.</p>
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h4>built to suit projects</h4>
      <p>Designed and built to meet our clients particular specifications and requirements.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h4>leasing of existing buildings</h4>
      <p>Existing facilities for immediate startup based on a standard design ready to be customized.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h4>construction of industrial facilities</h4>
      <p>Select a site anywhere and we will design and build according to your needs. Sale/Lease.</p>
    </div>
  </div>



	<div class="row marketing full-width center">
    <h2>our commitment</h2>
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/home-icon-1.png" alt="Alianza Industrial Park services icon">
      <h4>High quality standard facilities</h4>
    </div> 	
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/services-icon-3.png" alt="Alianza Industrial Park services icon">
      <h4>On time building deliveries</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/services-icon-4.png" alt="Alianza Industrial Park services icon">
      <h4>Market competitive pricing</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/services-icon-2.png" alt="Alianza Industrial Park services icon">
      <h4>Strict quality construction control</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
    	<img draggable="false" src="images/services-icon-5.png" alt="Alianza Industrial Park services icon">
      <h4>Custom made facilities</h4>
    </div>
  </div>
  


  <div class="row marketing center full-width-images">
    <h2>quality standar shell</h2>
    <div class="col-xs-12 col-sm-12 col-md-12 custom-services marketing">
      <img src="images/quality-img.png" alt="Alianza Industrial Park quality image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 custom-services marketing">
     	<img src="images/quality-info.png" alt="Alianza Industrial Park quality inphographic">
    </div>
  </div>


</div>